@using SFA.DAS.Apprenticeships.Web.Models.ChangeOfPrice
@model ProviderCancelPriceChangeModel
@{
    ViewData["Title"] = "View change request - Manage apprenticeships";
}

<div class="govuk-width-container ">

    @*Renders href as href="https://approvals.{domain}/{ProviderReferenceNumber}/apprentices/{ApprenticeshipHashedId}" *@
    <a class="govuk-back-link" asp-external-subdomain="approvals" asp-external-id="@Model.ProviderReferenceNumber" asp-external-controller="apprentices" asp-external-action="@Model.ApprenticeshipHashedId">
        Back
    </a>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">View change request</h1>
            <strong class="govuk-tag govuk-tag--yellow">Pending employer review</strong>
            <br /><br />
            <h2 class="govuk-heading-m">Price changes you've requested</h2>

            @await Html.PartialAsync("~/Views/ChangeOfPrice/_pendingSummary.cshtml", Model, new ViewDataDictionary(ViewData) { { "ShowAllPriceDetails", true } })

            <form method="post" action="/provider/@Model.ProviderReferenceNumber/ChangeOfPrice/@Model.ApprenticeshipHashedId/cancel">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=> m.ApprenticeshipKey)
                @await Html.PartialAsync("_CancelOrKeep")
            </form>
		</div>
	</div>
</div>