@model IApproveRequest

<div class="govuk-form-group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you want to approve these changes?
    </legend>

    <div class="govuk-radios  @ViewContext.DisplayFormGroupError(nameof(Model.ApproveRequest))">

        <component type="typeof(RadioOptionComponent)" render-mode="Static"
                   param-Id='"option-yes"'
                   param-name='"ApproveRequest"'
                   param-Value='"1"'
                   param-Label='"Yes, approve these changes"' 
                   param-onchange='"javascript: showHideRejectReason();"' />

        <component type="typeof(RadioOptionComponent)" render-mode="Static"
                   param-Id='"option-no"'
                   param-name='"ApproveRequest"'
                   param-Value='"0"'
                   param-Label='"No, reject these changes"'
                   param-onchange='"javascript: showHideRejectReason();"' />

        @Html.ValidationMessageFor(m => m.ApproveRequest, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.ApproveRequest) })
    </div>

    <div id="rejectReasonContainer">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="ReasonForRejection-hint">
            <br />
            <div>
                <div class="govuk-form-group" id="ReasonForRejectionGroup">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" for="ReasonForRejection">
                        Why do you want to reject these changes?
                    </legend>
                    @Html.TextAreaFor(m => m.RejectReason, new { @class = $"govuk-textarea", rows = "5", aria_describedby = "reason-for-rejection-hint" })
                </div>
            </div>
        </fieldset>
    </div>
</div>
<button class="govuk-button" data-module="govuk-button" type="submit" id="buttonSubmitForm">
    Send
</button>

<script type="text/javascript">
    function showHideRejectReason() {
        if (!document.getElementById("option-no").checked) {
            document.getElementById("rejectReasonContainer").style.display = "none";
        } else {
            document.getElementById("rejectReasonContainer").style.display = "block";
        }
    }

    showHideRejectReason();
</script>