@model ICancelRequest

<div class="govuk-form-group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you want to cancel this request?
    </legend>

    <div class="govuk-radios @ViewContext.DisplayFormGroupError(nameof(Model.CancelRequest))">
        <component type="typeof(RadioOptionComponent)" render-mode="Static"
                   param-Id='"option-yes"'
                   param-name='"CancelRequest"'
                   param-Value='"1"'
                   param-Label='"Yes, cancel the request"' />

        <component type="typeof(RadioOptionComponent)" render-mode="Static"
                   param-Id='"option-no"'
                   param-name='"CancelRequest"'
                   param-Value='"0"'
                   param-Label='"No, keep the request"' />

        @Html.ValidationMessageFor(m => m.CancelRequest, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.CancelRequest) })
    </div>
</div>
<button class="govuk-button" data-module="govuk-button" type="submit" id="buttonSubmitForm">
    Continue
</button>