@using SFA.DAS.Apprenticeships.Web.Models.ChangeOfPrice
@model BasePendingPriceChangeModel

<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header app-custom-class" style="width:250px;"></th>
			<th scope="col" class="govuk-table__header app-custom-class">Current</th>
			<th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Requested</th>
			<th scope="col" class="govuk-table__header app-custom-class "></th>
		</tr>
	</thead>
    <tbody class="govuk-table__body">
    
        @if ((bool)ViewData["ShowAllPriceDetails"]!)
        {

            <component type="typeof(DetailsRowComponent)"
                       param-Id='"Trainingprice"'
                       param-Label='"Training price"'
                       param-OrginalValue='Model.OriginalTrainingPrice.FormatCurrency()'
                       param-Value='Model.ApprenticeshipTrainingPrice.FormatCurrency()'
                       render-mode="Static"/>

            <component type="typeof(DetailsRowComponent)"
                       param-Id='"EndPointAssessmentPrice"'
                       param-Label='"End-point assessment price"'
                       param-OrginalValue='Model.OriginalEndPointAssessmentPrice.FormatCurrency()'
                       param-Value='Model.ApprenticeshipEndPointAssessmentPrice.FormatCurrency()'
                       render-mode="Static"/>
        }

        <component type="typeof(DetailsRowComponent)"
                   param-Id='"TotalPrice"'
                   param-Label='"Total price"'
                   param-OrginalValue='(Model.OriginalTrainingPrice + Model.OriginalEndPointAssessmentPrice).FormatCurrency()'
                   param-Value='Model.ApprenticeshipTotalPrice.FormatCurrency()'
                   render-mode="Static"/>
    </tbody>
</table>
<dl class="govuk-summary-list govuk-summary-list--no-border">
	<component type="typeof(DetailsRowComponent)"
			   param-Id='"EffectiveFromDate"'
			   param-Label='"Effective from date"'
               param-Value='Model.EffectiveFromDate.ToString("dd MMMM yyyy")'
			   param-RowType='DetailsRowComponent.DetailsRowType.DescriptionList'
			   render-mode="Static" />

	<component type="typeof(DetailsRowComponent)"
			   param-Id='"ReasonForChange"'
			   param-Label='"Reason for change"'
			   param-Value='Model.ReasonForChangeOfPrice'
			   param-RowType='DetailsRowComponent.DetailsRowType.DescriptionList'
			   render-mode="Static" />
</dl>