@model IChangeOfPriceModel

<div class="govuk-form-group"><br>
    <fieldset class="govuk-fieldset" role="group" aria-describedby="ReasonForChangeOfPrice-hint">
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
            <div class="govuk-form-group" id="ReasonForChangeOfPrice">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" for="ReasonForChangeOfPrice">
                    What was the reason for changing the price?
                </legend>
                <div id="ReasonForChangeOfPrice-hint" class="govuk-hint">
                    If the total price changes, this reason will be shared with [employer name]. They will need to approve
                    the
                    change. </div>
                @Html.TextAreaFor(m=>m.ReasonForChangeOfPrice, new { @class = $"govuk-textarea", rows="5", aria_describedby="reason-for-update-hint", maxlength="200", onkeyup="calculateRemainingCharacters(this, 200, 'ReasonForChangeOfPrice-RemainingCharacters')" })
            </div>
            <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                <span js-enabled-show hidden><span id="ReasonForChangeOfPrice-RemainingCharacters">200</span> characters remaining</span>
                <span js-enabled-hide>Max 200 characters</span>
            </div>
        </div>
    </fieldset>
</div>