@{
    ViewData["Title"] = "Unauthorised";
}

<!--TODO are there some requirements for what to display to the user here? They should only really get here by tampering with the URL-->
<h1 class="govuk-heading-xl">Unauthorised</h1>
<p class="govuk-body">You are not authorised to view this page.</p>